<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/webjars/font-awesome/5.13.0/css/fontawesome.min.css"/>
    <th:block layout:fragment="css"></th:block>
    <title>JPub book example</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    <th:block layout:fragment="script"></th:block>
</head>
<body>

</body>
</html>